.root {
  -fx-background-color: #ffffff;
}

.button {
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
  -fx-padding: 6px 12px 6px 12px;
  -fx-font-size: 16px;
}

.btn-success {
  -fx-text-fill: #ffffff;
  -fx-background-color: #5cb85c;
  -fx-border-color: #4cae4c;
}

.btn-success:hover {
  -fx-text-fill: #ffffff;
  -fx-background-color: #47a447;
  -fx-border-color: #398439;
}

.btn-warning {
  -fx-text-fill: #ffffff;
  -fx-background-color: #f0ad4e;
  -fx-border-color: #eea236;
}

.btn-warning:hover {
  -fx-text-fill: #ffffff;
  -fx-background-color: #ed9c28;
  -fx-border-color: #d58512;
}

.btn-danger {
  -fx-text-fill: #ffffff;
  -fx-background-color: #d9534f;
  -fx-border-color: #d43f3a;
}

.btn-danger:hover {
  -fx-text-fill: #ffffff;
  -fx-background-color: #d2322d;
  -fx-border-color: #ac2925;
}